.pb-border {
  border: 1px solid #ccc !important;
  width: 50%;
  display: block;
  box-sizing: border-box;
  margin-left: 4px;
  border-spacing: 0;
  margin: 0.25rem 0;
}

/* .pb-border:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
} */

.pb-background {
  color: #fff !important;
  background-color: #4caf50 !important;
  padding-left: 4px;
  height: 15px;
  font-size: 10px;
  color: #fff !important;
}

.dark-theme .pb-background {
  background-color: #f78634 !important;
}
.dark-theme .pb-border {
  border: 1px solid var(--text-color-light) !important;
}

.scale-cv .pb-border {
  width: 60%;
}

@media screen and (max-width: 968px) {
  .pb-border {
    width: 80%;
  }
}
